<head>
  <script src='https://www.google.com/jsapi'></script>
  <!-- title, scripts, css etc go here -->
  <noscript>
    <meta http-equiv="refresh" content="2;url=http://yoursite.com/nojswarning.html">
  </noscript>
</head>
<body>
    <h1>Businesses Homepage</h1>

    <div id='chart'></div>
    <%= render_chart @chart, 'chart' %>
</body>
