<script type="text/javascript">
  $(document).ready(function() {
    Tipped.create('.function', function() {
          return {
            title: $(this).data('title'),
            content: $(this).data('content')
          };
        },
        {
          size: 'large',
          skin: 'light',
          position: 'top'
        });
  });
</script>
<div class="yelp-intro-fitted">
  <div class="container">
    <i class="fa fa-smile-o fa-5x"></i>
  </div>
  <div class="col-xs-12 col-md-9 col-centered" style="text-align: justify">
    <h1>
      <b>YOU ARE <font color="#4eabd1"><%= @data.upcase %></font></b>
    </h1>
    <h2 class="yelp-intro-personality-descr"><%= @description%></h2>
  </div>
</div>
<div class="container">
  <h2><%= draw_num_attributes_card @indep_var %></h2>
</div>
